body{
    background-color: #cccccc;
    width:80%;
    margin: auto;
    font-family: sans-serif;
}

h1{
    background-color: #acafd4 ;
    text-align: center;
    color: #061761;
    font-family: arial;
    font-weight: bold;
    
}

h2{
    background-color: #b6b6b6 ;
    border-bottom:2px solid #061761;
    padding: 5px;
    margin-top: 25px;
    color: #061761;
    font-weight: bold;
    
    
    
}

ul{
    padding-left: 0;
}

ul li{
    list-style-position: inside;
}

a{
  text-decoration: none;  
}

a:hover{
    color: red;
    text-decoration: underline;
}

a:visited{
    color:white;
}


.subtitulo{
    text-align:center;
}


